In [2]:
from manager_object import *
#from manager_object import filter
import pandas as pd
import unittest

In [3]:
"""Test Groupby"""

df=pd.read_csv('sp.csv',encoding='windows-1252')
dt=data()
df=df.loc[:,['Region','Profit']]
df1=dt.getgroupby(df,['Region'],{'Profit': 'sum'})
df2=df.groupby('Region').sum().reset_index()
print(df1)
print(df2)
df1==df2

    Region       Profit
0  Central   39706.3625
1     East   91522.7800
2    South   46749.4303
3     West  108418.4489
    Region       Profit
0  Central   39706.3625
1     East   91522.7800
2    South   46749.4303
3     West  108418.4489

   Region  Profit
0    True    True
1    True    True
2    True    True
3    True    True

In [4]:
df=pd.read_csv('sp.csv',encoding='windows-1252')
df=df.loc[:,['Region','State','Profit']]
df3=dt.getgroupby(df,['Region','State'],{'Profit': 'sum'})
df4=df.groupby(['Region','State']).sum().reset_index()
print(df3)
print(df4)
df3==df4

     Region                 State      Profit
0   Central              Illinois -12607.8870
1   Central               Indiana  18382.9363
2   Central                  Iowa   1183.8119
3   Central                Kansas    836.4435
4   Central              Michigan  24463.1876
5   Central             Minnesota  10823.1874
6   Central              Missouri   6436.2105
7   Central              Nebraska   2037.0942
8   Central          North Dakota    230.1497
9   Central              Oklahoma   4853.9560
10  Central          South Dakota    394.8283
11  Central                 Texas -25729.3563
12  Central             Wisconsin   8401.8004
13     East           Connecticut   3511.4918
14     East              Delaware   9977.3748
15     East  District of Columbia   1059.5893
16     East                 Maine    454.4862
17     East              Maryland   7031.1788
18     East         Massachusetts   6785.5016
19     East         New Hampshire   1706.5028
20     East            New Jersey   9772.9138
21     East              New York  74038.5486
22     East                  Ohio -16971.3766
23     East          Pennsylvania -15559.9603
24     East          Rhode Island   7285.6293
25     East               Vermont   2244.9783
26     East         West Virginia    185.9216
27    South               Alabama   5786.8253
28    South              Arkansas   4008.6871
29    South               Florida  -3399.3017
30    South               Georgia  16250.0433
31    South              Kentucky  11199.6966
32    South             Louisiana   2196.1023
33    South           Mississippi   3172.9762
34    South        North Carolina  -7490.9122
35    South        South Carolina   1769.0566
36    South             Tennessee  -5341.6936
37    South              Virginia  18597.9504
38     West               Arizona  -3427.9246
39     West            California  76381.3871
40     West              Colorado  -6527.8579
41     West                 Idaho    826.7231
42     West               Montana   1833.3285
43     West                Nevada   3316.7659
44     West            New Mexico   1157.1161
45     West                Oregon  -1190.4705
46     West                  Utah   2546.5335
47     West            Washington  33402.6517
48     West               Wyoming    100.1960
     Region                 State      Profit
0   Central              Illinois -12607.8870
1   Central               Indiana  18382.9363
2   Central                  Iowa   1183.8119
3   Central                Kansas    836.4435
4   Central              Michigan  24463.1876
5   Central             Minnesota  10823.1874
6   Central              Missouri   6436.2105
7   Central              Nebraska   2037.0942
8   Central          North Dakota    230.1497
9   Central              Oklahoma   4853.9560
10  Central          South Dakota    394.8283
11  Central                 Texas -25729.3563
12  Central             Wisconsin   8401.8004
13     East           Connecticut   3511.4918
14     East              Delaware   9977.3748
15     East  District of Columbia   1059.5893
16     East                 Maine    454.4862
17     East              Maryland   7031.1788
18     East         Massachusetts   6785.5016
19     East         New Hampshire   1706.5028
20     East            New Jersey   9772.9138
21     East              New York  74038.5486
22     East                  Ohio -16971.3766
23     East          Pennsylvania -15559.9603
24     East          Rhode Island   7285.6293
25     East               Vermont   2244.9783
26     East         West Virginia    185.9216
27    South               Alabama   5786.8253
28    South              Arkansas   4008.6871
29    South               Florida  -3399.3017
30    South               Georgia  16250.0433
31    South              Kentucky  11199.6966
32    South             Louisiana   2196.1023
33    South           Mississippi   3172.9762
34    South        North Carolina  -7490.9122
35    South        South Carolina   1769.0566
36    South             Tennessee  -5341.6936
37    South              Virginia  18597.9504
38     West               Arizona  -3427.9246
39     West            California  76381.3871
40     West              Colorado  -6527.8579
41     West                 Idaho    826.7231
42     West               Montana   1833.3285
43     West                Nevada   3316.7659
44     West            New Mexico   1157.1161
45     West                Oregon  -1190.4705
46     West                  Utah   2546.5335
47     West            Washington  33402.6517
48     West               Wyoming    100.1960

    Region  State  Profit
0     True   True    True
1     True   True    True
2     True   True    True
3     True   True    True
4     True   True    True
5     True   True    True
6     True   True    True
7     True   True    True
8     True   True    True
9     True   True    True
10    True   True    True
11    True   True    True
12    True   True    True
13    True   True    True
14    True   True    True
15    True   True    True
16    True   True    True
17    True   True    True
18    True   True    True
19    True   True    True
20    True   True    True
21    True   True    True
22    True   True    True
23    True   True    True
24    True   True    True
25    True   True    True
26    True   True    True
27    True   True    True
28    True   True    True
29    True   True    True
30    True   True    True
31    True   True    True
32    True   True    True
33    True   True    True
34    True   True    True
35    True   True    True
36    True   True    True
37    True   True    True
38    True   True    True
39    True   True    True
40    True   True    True
41    True   True    True
42    True   True    True
43    True   True    True
44    True   True    True
45    True   True    True
46    True   True    True
47    True   True    True
48    True   True    True

In [8]:
df=pd.read_csv('sp.csv',encoding='windows-1252')
dt=data()
df1=df[['Region','State']]
itemdrill=['Region+State','State']
itemdrill[0]=dt.checkdrilldown(itemdrill[0])
df2=df[itemdrill]
print(df1)
print(df2)
df1==df2

     Region       State
0     South    Kentucky
1     South    Kentucky
2      West  California
3     South     Florida
4     South     Florida
...     ...         ...
9989  South     Florida
9990   West  California
9991   West  California
9992   West  California
9993   West  California

[9994 rows x 2 columns]
     Region       State
0     South    Kentucky
1     South    Kentucky
2      West  California
3     South     Florida
4     South     Florida
...     ...         ...
9989  South     Florida
9990   West  California
9991   West  California
9992   West  California
9993   West  California

[9994 rows x 2 columns]

      Region  State
0       True   True
1       True   True
2       True   True
3       True   True
4       True   True
...      ...    ...
9989    True   True
9990    True   True
9991    True   True
9992    True   True
9993    True   True

[9994 rows x 2 columns]

In [ ]:
"""Test filter Dimension"""
ft=filter()
df=pd.read_csv('sp.csv',encoding='windows-1252')
df1=df[df['Region'].isin(['West','South'])]
print(df1)
df2=ft.filter_data(df,'Region',{'Region':['West','South']})
print(df2)
df1==df2

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2019-152156   8/11/2019  11/11/2019    Second Class
1          2  CA-2019-152156   8/11/2019  11/11/2019    Second Class
2          3  CA-2019-138688   12/6/2019   16/6/2019    Second Class
3          4  US-2018-108966  11/10/2018  18/10/2018  Standard Class
4          5  US-2018-108966  11/10/2018  18/10/2018  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2017-110422   21/1/2017   23/1/2017    Second Class
9990    9991  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9991    9992  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9992    9993  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9993    9994  CA-2020-119914    4/5/2020    9/5/2020    Second Class

     Customer ID     Customer Name    Segment Country/Region             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     ...     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     ...     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     ...     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     ...     33311.0   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...     33180.0   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...     92627.0    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...     92627.0    West  TEC-PH-10003645       Technology       Phones
9992  ...     92627.0    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...     92683.0    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[4823 rows x 21 columns]
      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2019-152156   8/11/2019  11/11/2019    Second Class
1          2  CA-2019-152156   8/11/2019  11/11/2019    Second Class
2          3  CA-2019-138688   12/6/2019   16/6/2019    Second Class
3          4  US-2018-108966  11/10/2018  18/10/2018  Standard Class
4          5  US-2018-108966  11/10/2018  18/10/2018  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2017-110422   21/1/2017   23/1/2017    Second Class
9990    9991  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9991    9992  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9992    9993  CA-2020-121258   26/2/2020    3/3/2020  Standard Class
9993    9994  CA-2020-119914    4/5/2020    9/5/2020    Second Class

     Customer ID     Customer Name    Segment Country/Region             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     ...     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     ...     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     ...     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     ...     33311.0   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...     33180.0   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...     92627.0    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...     92627.0    West  TEC-PH-10003645       Technology       Phones
9992  ...     92627.0    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...     92683.0    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[4823 rows x 21 columns]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9990,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9991,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9992,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9993,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
"""Test filter Range"""
df1=df.loc[(df['Profit'] >= 1000) & (df['Profit'] <= 6000)]
df2=ft.filterrange(df,'Profit',{'Profit':[1000,6000]})
print(df1)
print(df2)
df1==df2

min,max 1000.0 6000.0
      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
318      319  CA-2017-164973   4/11/2017   9/11/2017  Standard Class
353      354  CA-2019-129714    1/9/2019    3/9/2019     First Class
509      510  CA-2018-145352   16/3/2018   22/3/2018  Standard Class
515      516  CA-2020-127432   22/1/2020   27/1/2020  Standard Class
994      995  CA-2017-117639   21/5/2017   25/5/2017  Standard Class
1085    1086  US-2019-143819    1/3/2019    5/3/2019  Standard Class
1454    1455  CA-2019-133711  26/11/2019  29/11/2019     First Class
1644    1645  CA-2018-111829   19/3/2018   20/3/2018     First Class
2182    2183  CA-2019-128818    7/5/2019   11/5/2019  Standard Class
2492    2493  CA-2017-144624  19/11/2017  23/11/2017  Standard Class
2623    2624  CA-2020-127180  22/10/2020  24/10/2020     First Class
2848    2849  CA-2020-157854    8/4/2020   15/4/2020  Standard Class
3273    3274  CA-2020-133865    8/5/2020   12/5/2020  Standard Class
4093    4094  CA-2018-102491   24/8/2018   28/8/2018  Standard Class
4098    4099  CA-2017-116904   23/9/2017   28/9/2017  Standard Class
4190    4191  CA-2020-166709  17/11/2020  22/11/2020  Standard Class
4277    4278  US-2019-107440   16/4/2019   20/4/2019  Standard Class
4619    4620  CA-2020-145219  24/12/2020  25/12/2020     First Class
5006    5007  CA-2018-169796   9/11/2018  14/11/2018  Standard Class
5126    5127  CA-2017-160766   14/9/2017   14/9/2017        Same Day
5562    5563  CA-2020-133263   31/3/2020    2/4/2020    Second Class
5710    5711  US-2018-160857    8/5/2018   15/5/2018  Standard Class
6340    6341  CA-2020-143112   5/10/2020   9/10/2020  Standard Class
6425    6426  CA-2019-143714   23/5/2019   27/5/2019  Standard Class
6520    6521  CA-2020-138289   16/1/2020   18/1/2020    Second Class
6626    6627  CA-2017-145541  14/12/2017  21/12/2017  Standard Class
6817    6818  CA-2017-144414   17/6/2017   21/6/2017  Standard Class
7280    7281  CA-2018-162782   21/2/2018   27/2/2018  Standard Class
7666    7667  US-2019-140158   4/10/2019   8/10/2019  Standard Class
7683    7684  CA-2018-120782   28/4/2018    1/5/2018     First Class
7818    7819  CA-2019-138478  21/10/2019  26/10/2019    Second Class
7914    7915  CA-2020-165323   17/6/2020   21/6/2020  Standard Class
8204    8205  CA-2018-114811   8/11/2018   8/11/2018        Same Day
8488    8489  CA-2019-158841    2/2/2019    4/2/2019    Second Class
8749    8750  US-2018-163825   16/6/2018   19/6/2018     First Class
8858    8859  CA-2020-135909  13/10/2020  20/10/2020  Standard Class
8990    8991  US-2018-128587  24/12/2018  30/12/2018  Standard Class
9039    9040  CA-2019-117121  17/12/2019  21/12/2019  Standard Class
9270    9271  US-2020-102183   21/8/2020   28/8/2020  Standard Class
9741    9742  CA-2018-117086   8/11/2018  12/11/2018  Standard Class

     Customer ID         Customer Name      Segment Country/Region  \
318     NM-18445          Nathan Mautz  Home Office  United States
353     AB-10060       Adam Bellavance  Home Office  United States
509     CM-12385  Christopher Martinez     Consumer  United States
515     AD-10180        Alan Dominguez  Home Office  United States
994     MW-18235      Mitch Willingham    Corporate  United States
1085    KD-16270         Karen Daniels     Consumer  United States
1454    MC-17425          Mark Cousins    Corporate  United States
1644    FH-14365          Fred Hopkins    Corporate  United States
2182    CJ-12010       Caroline Jumper     Consumer  United States
2492    JM-15865           John Murray     Consumer  United States
2623    TA-21385          Tom Ashbrook  Home Office  United States
2848    DM-13345         Denise Monton    Corporate  United States
3273    PS-19045       Penelope Sewall  Home Office  United States
4093    KW-16435       Katrina Willman     Consumer  United States
4098    SC-20095          Sanjit Chand     Consumer  United States
4190    HL-15040          Hunter Lopez     Consumer  United States
4277    BS-11365          Bill Shonely    Corporate  United States
4619    RM-19675         Robert Marley  Home Office  United States
5006    Dp-13240           Dean percer  Home Office  United States
5126    DM-13015         Darrin Martin     Consumer  United States
5562    JE-15610               Jim Epp    Corporate  United States
5710    NW-18400        Natalie Webber     Consumer  United States
6340    TS-21370          Todd Sumrall    Corporate  United States
6425    CC-12370    Christopher Conant     Consumer  United States
6520    AR-10540           Andy Reiter     Consumer  United States
6626    TB-21400      Tom Boeckenhauer     Consumer  United States
6817    GH-14425            Gary Hwang     Consumer  United States
7280    PW-19240          Pierre Wener     Consumer  United States
7666    DR-12940         Daniel Raglin  Home Office  United States
7683    SD-20485       Shirley Daniels  Home Office  United States
7818    DP-13390         Dennis Pardue  Home Office  United States
7914    SR-20740         Steven Roelle  Home Office  United States
8204    KD-16495         Keith Dawkins    Corporate  United States
8488    SE-20110          Sanjit Engle     Consumer  United States
8749    LC-16885        Lena Creighton     Consumer  United States
8858    JW-15220             Jane Waco    Corporate  United States
8990    HM-14860           Harry Marie    Corporate  United States
9039    AB-10105         Adrian Barton     Consumer  United States
9270    PK-19075             Pete Kriz     Consumer  United States
9741    QJ-19255          Quincy Jones    Corporate  United States

                 City  ... Postal Code   Region       Product ID  \
318     New York City  ...     10024.0     East  TEC-MA-10002927
353     New York City  ...     10009.0     East  OFF-BI-10004995
509           Atlanta  ...     30318.0    South  OFF-BI-10003527
515       Great Falls  ...     59405.0     West  TEC-CO-10003236
994    Virginia Beach  ...     23464.0    South  OFF-BI-10003925
1085          Yonkers  ...     10701.0     East  TEC-MA-10003979
1454           Mobile  ...     36608.0    South  TEC-MA-10000010
1644          Seattle  ...     98115.0     West  TEC-CO-10001766
2182    New York City  ...     10009.0     East  TEC-MA-10000488
2492        Jamestown  ...     14701.0     East  TEC-PH-10002885
2623    New York City  ...     10024.0     East  TEC-CO-10004722
2848          Roswell  ...     30076.0    South  OFF-BI-10001359
3273      Los Angeles  ...     90032.0     West  TEC-CO-10001046
4093         Florence  ...     41042.0    South  TEC-MA-10000864
4098      Minneapolis  ...     55407.0  Central  OFF-BI-10001120
4190           Newark  ...     19711.0     East  TEC-CO-10004722
4277         Lakewood  ...      8701.0     East  TEC-MA-10001047
4619      Los Angeles  ...     90049.0     West  TEC-CO-10001449
5006    New York City  ...     10035.0     East  TEC-MA-10000045
5126    New York City  ...     10009.0     East  TEC-MA-10003979
5562          Atlanta  ...     30318.0    South  TEC-CO-10001449
5710    New York City  ...     10024.0     East  TEC-CO-10004115
6340    New York City  ...     10035.0     East  TEC-MA-10001047
6425     Philadelphia  ...     19120.0     East  TEC-CO-10004722
6520          Jackson  ...     49201.0  Central  OFF-BI-10004995
6626    New York City  ...     10024.0     East  TEC-MA-10001127
6817          Seattle  ...     98105.0     West  OFF-BI-10004995
7280         Columbia  ...     21044.0     East  OFF-BI-10003527
7666       Providence  ...      2908.0     East  TEC-CO-10001449
7683          Midland  ...     48640.0  Central  OFF-BI-10003527
7818  North Las Vegas  ...     89031.0     West  OFF-BI-10001120
7914    New York City  ...     10024.0     East  TEC-MA-10003673
8204    New York City  ...     10024.0     East  TEC-MA-10000045
8488        Arlington  ...     22204.0    South  TEC-MA-10001127
8749    New York City  ...     10009.0     East  OFF-BI-10003527
8858       Sacramento  ...     95823.0     West  OFF-BI-10003527
8990      Springfield  ...     65807.0  Central  TEC-CO-10003763
9039          Detroit  ...     48205.0  Central  OFF-BI-10000545
9270    New York City  ...     10035.0     East  OFF-BI-10001359
9741       Burlington  ...         NaN     East  FUR-BO-10004834

             Category Sub-Category  \
318        Technology     Machines
353   Office Supplies      Binders
509   Office Supplies      Binders
515        Technology      Copiers
994   Office Supplies      Binders
1085       Technology     Machines
1454       Technology     Machines
1644       Technology      Copiers
2182       Technology     Machines
2492       Technology       Phones
2623       Technology      Copiers
2848  Office Supplies      Binders
3273       Technology      Copiers
4093       Technology     Machines
4098  Office Supplies      Binders
4190       Technology      Copiers
4277       Technology     Machines
4619       Technology      Copiers
5006       Technology     Machines
5126       Technology     Machines
5562       Technology      Copiers
5710       Technology      Copiers
6340       Technology     Machines
6425       Technology      Copiers
6520  Office Supplies      Binders
6626       Technology     Machines
6817  Office Supplies      Binders
7280  Office Supplies      Binders
7666       Technology      Copiers
7683  Office Supplies      Binders
7818  Office Supplies      Binders
7914       Technology     Machines
8204       Technology     Machines
8488       Technology     Machines
8749  Office Supplies      Binders
8858  Office Supplies      Binders
8990       Technology      Copiers
9039  Office Supplies      Binders
9270  Office Supplies      Binders
9741        Furniture    Bookcases

                                           Product Name      Sales  Quantity  \
318   Canon imageCLASS MF7460 Monochrome Digital Las...   3991.980         2
353           GBC DocuBind P400 Electric Binding System   4355.168         4
509   Fellowes PB500 Electric Punch Plastic Comb Bin...   6354.950         5
515                       Canon Image Class D660 Copier   2999.950         5
994         Fellowes PB300 Plastic Comb Binding Machine   2715.930         7
1085                  Ativa V4110MDD Micro-Cut Shredder   4899.930         7
1454  Hewlett-Packard Deskjet 3050a All-in-One Color...   3040.000         8
1644                                 Canon PC940 Copier   3149.930         7
2182                        Bady BDG101FRU Card Printer   3999.950         5
2492                                     Apple iPhone 5   4548.810         7
2623              Canon imageCLASS 2200 Advanced Copier  11199.968         4
2848         GBC DocuBind TL300 Electric Binding System   2690.970         3
3273                 Canon Imageclass D680 Copier / Fax   3359.952         6
4093                 Cisco 9971 IP Video Phone Charcoal   3080.000         7
4098               Ibico EPK-21 Electric Binding System   9449.950         5
4190              Canon imageCLASS 2200 Advanced Copier  10499.970         3
4277   3D Systems Cube Printer, 2nd Generation, Magenta   9099.930         7
4619               Hewlett Packard LaserJet 3310 Copier   2879.952         6
5006                  Zebra ZM400 Thermal Label Printer   2321.900         2
5126                  Ativa V4110MDD Micro-Cut Shredder   2799.960         4
5562               Hewlett Packard LaserJet 3310 Copier   2999.950         5
5710                     Sharp AL-1530CS Digital Copier   2799.944         7
6340   3D Systems Cube Printer, 2nd Generation, Magenta   5199.960         4
6425              Canon imageCLASS 2200 Advanced Copier   8399.976         4
6520          GBC DocuBind P400 Electric Binding System   5443.960         4
6626  HP Designjet T520 Inkjet Large Format Printer ...   6999.960         4
6817          GBC DocuBind P400 Electric Binding System   3266.376         3
7280  Fellowes PB500 Electric Punch Plastic Comb Bin...   2541.980         2
7666               Hewlett Packard LaserJet 3310 Copier   5399.910         9
7683  Fellowes PB500 Electric Punch Plastic Comb Bin...   3812.970         3
7818               Ibico EPK-21 Electric Binding System   4535.976         3
7914  Hewlett-Packard Desktjet 6988DT Refurbished Pr...   3404.500         5
8204                  Zebra ZM400 Thermal Label Printer   4643.800         4
8488  HP Designjet T520 Inkjet Large Format Printer ...   8749.950         5
8749  Fellowes PB500 Electric Punch Plastic Comb Bin...   3050.376         3
8858  Fellowes PB500 Electric Punch Plastic Comb Bin...   5083.960         5
8990                 Canon PC1060 Personal Laser Copier   4899.930         7
9039   GBC Ibimaster 500 Manual ProClick Binding System   9892.740        13
9270         GBC DocuBind TL300 Electric Binding System   4305.552         6
9741  Riverside Palais Royal Lawyers Bookcase, Royal...   4404.900         5

      Discount     Profit
318        0.0  1995.9900
353        0.2  1415.4296
509        0.0  3177.4750
515        0.0  1379.9770
994        0.0  1276.4871
1085       0.0  2400.9657
1454       0.0  1459.2000
1644       0.0  1480.4671
2182       0.0  1159.9855
2492       0.0  1228.1787
2623       0.2  3919.9888
2848       0.0  1264.7559
3273       0.2  1049.9850
4093       0.0  1416.8000
4098       0.0  4630.4755
4190       0.0  5039.9856
4277       0.0  2365.9818
4619       0.2  1007.9832
5006       0.0  1114.5120
5126       0.0  1371.9804
5562       0.0  1439.9760
5710       0.2  1014.9797
6340       0.0  1351.9896
6425       0.4  1119.9968
6520       0.0  2504.2216
6626       0.0  2239.9872
6817       0.2  1061.5722
7280       0.0  1270.9900
7666       0.0  2591.9568
7683       0.0  1906.4850
7818       0.2  1644.2913
7914       0.0  1668.2050
8204       0.0  2229.0240
8488       0.0  2799.9840
8749       0.2  1143.8910
8858       0.2  1906.4850
8990       0.0  2302.9671
9039       0.0  4946.3700
9270       0.2  1453.1238
9741       0.0  1013.1270

[40 rows x 21 columns]
      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
318      319  CA-2017-164973   4/11/2017   9/11/2017  Standard Class
353      354  CA-2019-129714    1/9/2019    3/9/2019     First Class
509      510  CA-2018-145352   16/3/2018   22/3/2018  Standard Class
515      516  CA-2020-127432   22/1/2020   27/1/2020  Standard Class
994      995  CA-2017-117639   21/5/2017   25/5/2017  Standard Class
1085    1086  US-2019-143819    1/3/2019    5/3/2019  Standard Class
1454    1455  CA-2019-133711  26/11/2019  29/11/2019     First Class
1644    1645  CA-2018-111829   19/3/2018   20/3/2018     First Class
2182    2183  CA-2019-128818    7/5/2019   11/5/2019  Standard Class
2492    2493  CA-2017-144624  19/11/2017  23/11/2017  Standard Class
2623    2624  CA-2020-127180  22/10/2020  24/10/2020     First Class
2848    2849  CA-2020-157854    8/4/2020   15/4/2020  Standard Class
3273    3274  CA-2020-133865    8/5/2020   12/5/2020  Standard Class
4093    4094  CA-2018-102491   24/8/2018   28/8/2018  Standard Class
4098    4099  CA-2017-116904   23/9/2017   28/9/2017  Standard Class
4190    4191  CA-2020-166709  17/11/2020  22/11/2020  Standard Class
4277    4278  US-2019-107440   16/4/2019   20/4/2019  Standard Class
4619    4620  CA-2020-145219  24/12/2020  25/12/2020     First Class
5006    5007  CA-2018-169796   9/11/2018  14/11/2018  Standard Class
5126    5127  CA-2017-160766   14/9/2017   14/9/2017        Same Day
5562    5563  CA-2020-133263   31/3/2020    2/4/2020    Second Class
5710    5711  US-2018-160857    8/5/2018   15/5/2018  Standard Class
6340    6341  CA-2020-143112   5/10/2020   9/10/2020  Standard Class
6425    6426  CA-2019-143714   23/5/2019   27/5/2019  Standard Class
6520    6521  CA-2020-138289   16/1/2020   18/1/2020    Second Class
6626    6627  CA-2017-145541  14/12/2017  21/12/2017  Standard Class
6817    6818  CA-2017-144414   17/6/2017   21/6/2017  Standard Class
7280    7281  CA-2018-162782   21/2/2018   27/2/2018  Standard Class
7666    7667  US-2019-140158   4/10/2019   8/10/2019  Standard Class
7683    7684  CA-2018-120782   28/4/2018    1/5/2018     First Class
7818    7819  CA-2019-138478  21/10/2019  26/10/2019    Second Class
7914    7915  CA-2020-165323   17/6/2020   21/6/2020  Standard Class
8204    8205  CA-2018-114811   8/11/2018   8/11/2018        Same Day
8488    8489  CA-2019-158841    2/2/2019    4/2/2019    Second Class
8749    8750  US-2018-163825   16/6/2018   19/6/2018     First Class
8858    8859  CA-2020-135909  13/10/2020  20/10/2020  Standard Class
8990    8991  US-2018-128587  24/12/2018  30/12/2018  Standard Class
9039    9040  CA-2019-117121  17/12/2019  21/12/2019  Standard Class
9270    9271  US-2020-102183   21/8/2020   28/8/2020  Standard Class
9741    9742  CA-2018-117086   8/11/2018  12/11/2018  Standard Class

     Customer ID         Customer Name      Segment Country/Region  \
318     NM-18445          Nathan Mautz  Home Office  United States
353     AB-10060       Adam Bellavance  Home Office  United States
509     CM-12385  Christopher Martinez     Consumer  United States
515     AD-10180        Alan Dominguez  Home Office  United States
994     MW-18235      Mitch Willingham    Corporate  United States
1085    KD-16270         Karen Daniels     Consumer  United States
1454    MC-17425          Mark Cousins    Corporate  United States
1644    FH-14365          Fred Hopkins    Corporate  United States
2182    CJ-12010       Caroline Jumper     Consumer  United States
2492    JM-15865           John Murray     Consumer  United States
2623    TA-21385          Tom Ashbrook  Home Office  United States
2848    DM-13345         Denise Monton    Corporate  United States
3273    PS-19045       Penelope Sewall  Home Office  United States
4093    KW-16435       Katrina Willman     Consumer  United States
4098    SC-20095          Sanjit Chand     Consumer  United States
4190    HL-15040          Hunter Lopez     Consumer  United States
4277    BS-11365          Bill Shonely    Corporate  United States
4619    RM-19675         Robert Marley  Home Office  United States
5006    Dp-13240           Dean percer  Home Office  United States
5126    DM-13015         Darrin Martin     Consumer  United States
5562    JE-15610               Jim Epp    Corporate  United States
5710    NW-18400        Natalie Webber     Consumer  United States
6340    TS-21370          Todd Sumrall    Corporate  United States
6425    CC-12370    Christopher Conant     Consumer  United States
6520    AR-10540           Andy Reiter     Consumer  United States
6626    TB-21400      Tom Boeckenhauer     Consumer  United States
6817    GH-14425            Gary Hwang     Consumer  United States
7280    PW-19240          Pierre Wener     Consumer  United States
7666    DR-12940         Daniel Raglin  Home Office  United States
7683    SD-20485       Shirley Daniels  Home Office  United States
7818    DP-13390         Dennis Pardue  Home Office  United States
7914    SR-20740         Steven Roelle  Home Office  United States
8204    KD-16495         Keith Dawkins    Corporate  United States
8488    SE-20110          Sanjit Engle     Consumer  United States
8749    LC-16885        Lena Creighton     Consumer  United States
8858    JW-15220             Jane Waco    Corporate  United States
8990    HM-14860           Harry Marie    Corporate  United States
9039    AB-10105         Adrian Barton     Consumer  United States
9270    PK-19075             Pete Kriz     Consumer  United States
9741    QJ-19255          Quincy Jones    Corporate  United States

                 City  ... Postal Code   Region       Product ID  \
318     New York City  ...     10024.0     East  TEC-MA-10002927
353     New York City  ...     10009.0     East  OFF-BI-10004995
509           Atlanta  ...     30318.0    South  OFF-BI-10003527
515       Great Falls  ...     59405.0     West  TEC-CO-10003236
994    Virginia Beach  ...     23464.0    South  OFF-BI-10003925

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
318,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
353,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
509,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
515,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
994,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1085,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1454,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1644,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2182,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2492,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2623,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2848,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3273,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4093,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4098,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4190,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4277,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4619,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5006,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5126,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5562,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5710,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6340,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6425,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6520,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6626,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6817,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7280,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7666,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7683,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7818,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7914,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8488,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8749,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8858,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8990,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9039,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9270,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9741,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True